.follow-button {
  & button {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: content-box;
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    color: var(--primaryTheme);
    outline: none;
    border: 1px solid var(--primaryTheme);
    border-radius: 9999px;
    background-color: inherit;
    transition-duration: 0.2s;
    transition-property: background-color;
    &:hover {
      background-color: var(--primaryThemeBgActive);
    }
  }
  .followed {
    color: var(--filledBtText);
    background-color: var(--primaryTheme);
  }
}
