.chat {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  transition-duration: 0.2s;
  transition-property: background-color;
  border-bottom: 1px solid var(--border);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: var(--dividerBg);
  }
  &--active {
    border-right: solid 2px var(--primaryTheme);
  }
  &-wrapper {
    display: flex;
  }
  &-avatar {
    margin-right: 12px;
  }
  &-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primaryText);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
  &__fullName {
    font-weight: 700;
    & a {
      color: var(--primaryText);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__username {
    color: var(--secondaryText);
  }
  &__checkbox {
    width: 18px;
    height: 18px;
  }
}

.lastChild {
  border-bottom: none;
}
